<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="StaticFile" />
            <remove name="SimpleHandlerFactory-Integrated" />
            <remove name="SSINC-shtml" />
            <remove name="SSINC-shtm" />
            <remove name="rules-64-ISAPI-2.0" />
            <remove name="rules-Integrated" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0-64" />
            <remove name="HttpRemotingHandlerFactory-rem-Integrated" />
            <remove name="PageHandlerFactory-ISAPI-2.0-64" />
            <remove name="PageHandlerFactory-Integrated" />
            <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
            <remove name="WebServiceHandlerFactory-ISAPI-2.0-64" />
            <remove name="WebServiceHandlerFactory-Integrated" />
            <remove name="SimpleHandlerFactory-ISAPI-2.0" />
            <remove name="SimpleHandlerFactory-ISAPI-2.0-64" />
            <remove name="AssemblyResourceLoader-Integrated" />
            <remove name="WebAdminHandler-Integrated" />
            <remove name="TraceHandler-Integrated" />
            <remove name="xoml-64-ISAPI-2.0" />
            <remove name="xoml-ISAPI-2.0" />
            <remove name="xoml-Integrated" />
            <remove name="svc-Integrated" />
            <remove name="svc-ISAPI-2.0" />
            <remove name="svc-ISAPI-2.0-64" />
            <remove name="SSINC-stm" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0-64" />
            <remove name="HttpRemotingHandlerFactory-soap-Integrated" />
            <remove name="rules-ISAPI-2.0" />
            <remove name="SecurityCertificate" />
            <remove name="AXD-ISAPI-2.0" />
            <remove name="AXD-ISAPI-2.0-64" />
            <remove name="PageHandlerFactory-ISAPI-2.0" />
            <remove name="ASPClassic" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
        </handlers>
    </system.webServer>
</configuration>
