
@media Print    
{
.print {
	DISPLAY: none
}

}

@media Screen    
{
.print {
	DISPLAY: block
}
    }
.link {
	FONT-SIZE: 11px; CURSOR: hand; TEXT-DECORATION: none
}
.linkOn {
	FONT-SIZE: 11px; CURSOR: hand; TEXT-DECORATION: none
}
.menu {
	CURSOR: hand; FONT-FAMILY: Arial
}
.menuRow {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 0px solid; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 0px solid; WIDTH: 210px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; POSITION: relative; BACKGROUND-COLOR: #e3dfc4
}
.menuRowOver {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 0px solid; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 0px solid; WIDTH: 210px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; POSITION: relative; BACKGROUND-COLOR: #e3dfc4
}
.menuRowRight {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 0px solid; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 0px solid; WIDTH: 160px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; POSITION: relative; BACKGROUND-COLOR: #e3dfc4
}
.menuRowRightOver {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 0px solid; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 0px solid; WIDTH: 160px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; POSITION: relative; BACKGROUND-COLOR: #e3dfc4
}
.menuFirstRow {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 0px; POSITION: relative; BORDER-RIGHT-WIDTH: 0px
}
.menuFirstRowOver {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 0px; POSITION: relative; BORDER-RIGHT-WIDTH: 0px
}
.menuAdminFirstRow {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; WIDTH: 100%; CURSOR: hand; COLOR: #951f0b; PADDING-TOP: 3px; POSITION: relative; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: underline
}
.menuAdminFirstRowOver {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; WIDTH: 100%; CURSOR: default; COLOR: #000000; PADDING-TOP: 3px; POSITION: relative; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: underline
}
.ticker {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; CURSOR: default; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.tickerItem {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.tickerLine {
	FONT-SIZE: 12px; COLOR: white; TEXT-DECORATION: none
}
A.tickerLine:hover {
	COLOR: white; TEXT-DECORATION: none
}
BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
.bodymail {
	MARGIN: 0px; BACKGROUND-COLOR: #f8f5e9
}
.BODYprint {
	MARGIN: 0px; COLOR: #000000; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffffff
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial
}
DIV.main {
	FONT-SIZE: 12px; MARGIN: 10px 10px 0px 0px; DIRECTION: rtl; FONT-FAMILY: Arial
}
DIV.massege {
	BORDER-RIGHT: black thin solid; BORDER-TOP: black thin solid; FONT-SIZE: 12px; LEFT: 20px; MARGIN: 0px; BORDER-LEFT: black thin solid; WIDTH: 150px; COLOR: #ff0000; DIRECTION: rtl; BORDER-BOTTOM: black thin solid; FONT-FAMILY: Arial; POSITION: absolute; TOP: 90px; HEIGHT: 50px; TEXT-ALIGN: center
}
.Adminout {
	MARGIN: auto; BACKGROUND-COLOR: #f0ed84
}
.Adminin {
	MARGIN-RIGHT: 100%; BACKGROUND-COLOR: #faf8ad; TEXT-ALIGN: center
}
.justify {
	TEXT-ALIGN: justify; dir: ltr
}
.inputBut {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #d6cea5; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #d6cea5; WIDTH: 80px; BORDER-TOP-COLOR: #d6cea5; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #d6cea5
}
.bgTD {
	BACKGROUND: #5db5ff
}
.AdminBG {
	BACKGROUND: #efefef
}
.BarMid {
	BACKGROUND: #efefef
}
A {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 12px; COLOR: #d6462e; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.linkmenu {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.linkmenu:hover {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.red {
	FONT-SIZE: 12px; COLOR: #951f0b; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.red:hover {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.cat {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.cat:hover {
	FONT-SIZE: 12px; COLOR: #f8f5e9; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.link2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.link2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #951f0b; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.link2b {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.link2b:hover {
	FONT-SIZE: 12px; COLOR: #951f0b; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.link3 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.link3:hover {
	FONT-SIZE: 11px; COLOR: #941c08; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.link4 {
	FONT-SIZE: 12px; COLOR: #951f0b; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.link4:hover {
	FONT-SIZE: 12px; COLOR: #941c08; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.link5 {
	FONT-SIZE: 12px; COLOR: #ddc366; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.link5:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.link6 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.link6:hover {
	FONT-SIZE: 11px; COLOR: #951f0b; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.text18Title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: blue; FONT-FAMILY: Arial
}
A.text18Title:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: blue; FONT-FAMILY: Arial
}
A.forumQ {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.forumQ:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.forumA {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.forumA:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.text10 {
	FONT-SIZE: 10px; FONT-FAMILY: Arial
}
.text11 {
	FONT-SIZE: 11px; FONT-FAMILY: Arial
}
.text11r {
	FONT-SIZE: 11px; COLOR: #951f0b; FONT-FAMILY: Arial
}
.text11w {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial
}
.text12 {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
.text12r {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Arial
}
.text12w {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial
}
.text12 {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
.text12u {
	FONT-SIZE: 12px; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.text13 {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Arial
}
.text14 {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Arial
}
.text14w {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Arial
}
.text14r {
	FONT-SIZE: 14px; COLOR: #951f0b; FONT-FAMILY: Arial
}
.text14link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #5f5e40; FONT-FAMILY: Arial
}
.text14b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Arial
}
.text15bl {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #1a3ab1; FONT-FAMILY: Arial
}
.text16title {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #951f0b; FONT-FAMILY: Arial
}
.text17 {
	FONT-SIZE: 17px; COLOR: #000000; FONT-FAMILY: Arial
}
.text18 {
	FONT-SIZE: 18px; COLOR: #2b43a7; FONT-FAMILY: Arial
}
.text18sub {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #5f5e42; FONT-FAMILY: Arial
}
.text18b {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #951f0b; FONT-FAMILY: Arial
}
.text19 {
	FONT-SIZE: 19px; COLOR: #000000; FONT-FAMILY: Arial
}
.text20 {
	FONT-SIZE: 20px; COLOR: #000000; FONT-FAMILY: Arial
}
.text26 {
	FONT-SIZE: 26px; COLOR: #000000; FONT-FAMILY: Arial
}
.text30 {
	FONT-WEIGHT: bold; FONT-SIZE: 30px; COLOR: #000000; FONT-FAMILY: Arial
}
.input1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #000000 1px solid; WIDTH: 150px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: arial
}
.input2 {
	BORDER-RIGHT: #941c08 1px solid; BORDER-TOP: #941c08 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #941c08 1px solid; WIDTH: 140px; BORDER-BOTTOM: #941c08 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
.input3 {
	BORDER-RIGHT: #2e41a7 1px solid; BORDER-TOP: #2e41a7 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #2e41a7 1px solid; WIDTH: 240px; BORDER-BOTTOM: #2e41a7 1px solid; FONT-FAMILY: arial
}
.input4 {
	BORDER-RIGHT: #2e41a7 1px solid; BORDER-TOP: #2e41a7 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #2e41a7 1px solid; WIDTH: 100px; BORDER-BOTTOM: #2e41a7 1px solid; FONT-FAMILY: arial
}
.inputOrder {
	BORDER-RIGHT: #2e41a7 1px solid; BORDER-TOP: #2e41a7 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #2e41a7 1px solid; WIDTH: 50px; BORDER-BOTTOM: #2e41a7 1px solid; FONT-FAMILY: arial
}
.SelectOption {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #c4c26c; BORDER-BOTTOM-COLOR: #c4c26c; WIDTH: 100px; BORDER-TOP-COLOR: #c4c26c; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #c4c26c
}
.SelectOption1 {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #c4c26c; BORDER-BOTTOM-COLOR: #c4c26c; WIDTH: 150px; BORDER-TOP-COLOR: #c4c26c; FONT-FAMILY: Arial; BACKGROUND-COLOR: #99ccff; BORDER-RIGHT-COLOR: #c4c26c
}
.SelectOption3 {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #c4c26c; BORDER-BOTTOM-COLOR: #c4c26c; WIDTH: 150px; BORDER-TOP-COLOR: #c4c26c; FONT-FAMILY: Arial; BACKGROUND-COLOR: #fffbde; BORDER-RIGHT-COLOR: #c4c26c
}
.Select1 {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #c4c26c; BORDER-BOTTOM-COLOR: #c4c26c; WIDTH: 180px; BORDER-TOP-COLOR: #c4c26c; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #c4c26c
}
.Select2 {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #c4c26c; BORDER-BOTTOM-COLOR: #c4c26c; WIDTH: 150px; BORDER-TOP-COLOR: #c4c26c; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #c4c26c
}
.selDate {
	FONT-SIZE: 9px; BORDER-LEFT-COLOR: #c4c26c; BORDER-BOTTOM-COLOR: #c4c26c; BORDER-TOP-COLOR: #c4c26c; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #c4c26c
}
.TextArea1 {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #c4c26c; BORDER-BOTTOM-COLOR: #c4c26c; WIDTH: 400px; BORDER-TOP-COLOR: #c4c26c; FONT-FAMILY: Arial; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #c4c26c
}
.TextArea2 {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #c4c26c; BORDER-BOTTOM-COLOR: #c4c26c; WIDTH: 200px; BORDER-TOP-COLOR: #c4c26c; FONT-FAMILY: Arial; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #c4c26c
}
.TextArea3 {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #c4c26c; BORDER-BOTTOM-COLOR: #c4c26c; WIDTH: 400px; BORDER-TOP-COLOR: #c4c26c; FONT-FAMILY: Arial; HEIGHT: 200px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #c4c26c
}
.TextArea4 {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #c4c26c; BORDER-BOTTOM-COLOR: #c4c26c; WIDTH: 250px; BORDER-TOP-COLOR: #c4c26c; FONT-FAMILY: Arial; HEIGHT: 150px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #c4c26c
}
.TextArea5 {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #c4c26c; BORDER-BOTTOM-COLOR: #c4c26c; WIDTH: 240px; BORDER-TOP-COLOR: #c4c26c; FONT-FAMILY: Arial; HEIGHT: 50px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #c4c26c
}
.TextArea6 {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #c4c26c; BORDER-BOTTOM-COLOR: #c4c26c; WIDTH: 240px; BORDER-TOP-COLOR: #c4c26c; FONT-FAMILY: Arial; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #c4c26c
}
.TextArea7 {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #c4c26c; BORDER-BOTTOM-COLOR: #c4c26c; WIDTH: 400px; BORDER-TOP-COLOR: #c4c26c; FONT-FAMILY: Arial; HEIGHT: 100px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #c4c26c
}
.TextArea8 {
	BORDER-RIGHT: #c4c26c thin solid; BORDER-TOP: #c4c26c thin solid; FONT-SIZE: 12px; BORDER-LEFT: #c4c26c thin solid; WIDTH: 400px; BORDER-BOTTOM: #c4c26c thin solid; FONT-FAMILY: Arial; HEIGHT: 100px; BACKGROUND-COLOR: #ffffff
}
.Radio1 {
	BACKGROUND-COLOR: #cccccc
}
.flyout {
	POSITION: relative; BACKGROUND-COLOR: #000000
}
.hideFly {
	Z-INDEX: 21; VISIBILITY: hidden; POSITION: absolute; layer-background-color: #000000
}
.glbflypos1 {
	LEFT: -100px; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #000000
}
.glbflypos2 {
	LEFT: -100px; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #000000
}
.otherfly {
	VISIBILITY: hidden; POSITION: relative
}
.but {
	BORDER-RIGHT: #b4000d 1px dashed; BORDER-TOP: #b4000d 1px dashed; FONT-SIZE: 12px; BORDER-LEFT: #b4000d 1px dashed; WIDTH: auto; BORDER-BOTTOM: #b4000d 1px dashed; FONT-FAMILY: verdana; HEIGHT: 21px; BACKGROUND-COLOR: #e5f4fb
}
.but2 {
	BORDER-RIGHT: #b4000d 1px solid; BORDER-TOP: #b4000d 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #b4000d 1px solid; WIDTH: auto; BORDER-BOTTOM: #b4000d 1px solid; FONT-FAMILY: verdana; HEIGHT: 21px; BACKGROUND-COLOR: #f8f5e9
}
TABLE.calender {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; WIDTH: 150px; BORDER-BOTTOM: black 1px solid; HEIGHT: 173px; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
TABLE.calenderin {
	FONT-WEIGHT: bold; TEXT-ALIGN: center
}
INPUT.CalendarDate {
	BORDER-RIGHT: white 0px solid; BORDER-TOP: white 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: white 0px solid; LINE-HEIGHT: normal; BORDER-BOTTOM: white 0px solid; FONT-STYLE: normal; TEXT-ALIGN: center; FONT-VARIANT: normal
}
INPUT.CalendarButtons {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: normal; BORDER-BOTTOM: #cccccc 1px solid; FONT-STYLE: normal; BACKGROUND-COLOR: white; TEXT-ALIGN: center; FONT-VARIANT: normal
}
INPUT.CalendarButton {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; WIDTH: 70px; LINE-HEIGHT: normal; FONT-STYLE: normal; TEXT-ALIGN: center; FONT-VARIANT: normal
}
.button {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 8pt; BORDER-BOTTOM-WIDTH: 1px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #3e54a6; BORDER-RIGHT-WIDTH: 1px
}
